<section class="box-float-right">
    <div class="col">
        <div class="row mb-2">
            <h1 class="display-3">About</h1>
        </div>
        <div class="row">
            <p class="lead font-weight-bold">
                Here we provide users with the ability to create, edit, and delete groups 
                of movies. Additionally, you may use the navbar option to search movies by 
                popularity or do your own search using the search bar in the
                <a href="/home">
                    <b><span class="color-cyan">Home</span></b>
                </a> 
                section. You need to be 
                <a href="/login">
                    <b><span class="color-cyan">logged in</span></b>
                </a> 
                in order to access group management.
            </p>
        </div>
        <div class="row mb-5">
            <p class="lead">
                We also provide access to our
                <!-- target="_blank" will open the link in a new browser tab -->
                <a href="/api/docs" target="_blank">
                    <b><span class="color-red">API</span></b> 
                </a>
                where you can use the same features avalaible in the website minus the user 
                interface by using the built-in client or any other of your choice. 
                To consult more information regarding the project, refer to our
                <br>
                <a href="https://github.com/isel-leic-ipw/cmdb-ipw-leic2223i-ipw31d-g06"
                    target="_blank">
                    <b><span class="color-cyan"> documentation</span></b>
                </a>
                on GitHub.
            </p>
        </div>
        <div class="row mt-5">
            <h4>Best Regards,</h4>
            <h3 class="text-marck-script">The Development Team<h3>
        </div>
    </div>
</section> 