<h2>Add a Movie to a Group</h2>
<form action="/groups/{{id}}/movies/searchTheMovie" method="GET">
    <p>Movie Name: <input type="text" name="movieName"></p>
    <input type="hidden" value={{id}} name="groupId">
    <input type="submit" value="Add">
    <input type="button" value="Cancel" onclick='history.back()'></input>
</form>