<h2>Add a Movie to a Group</h2>
<form action="/groups/{{id}}/movies" method="POST">
    <p>Movie Id: <input type="text" name="movieId"></p>
    <input type="submit" value="Add">
    <input type="button" value="Cancel" onclick='history.back()'></input>
</form>