<h2>Edit a Group</h2>
<form action="/auth/groups/{{id}}/edit" method="POST">
    <p>Group name: <input type="text" name="name" value='{{group.name}}'></p>
    <p>
        Group description: <textarea name="description">{{group.description}}</textarea>
    </p>
    <input type="submit" value="Edit">
    <input type="button" value="Cancel" onclick='history.back()'>
</form>