<section class="box-float-right">
    <div class="col">
        <div class="row mb-4">
            <h1 class="display-1">Chelas
                <span class="color-red">Movies</span>
                <span class="color-cyan">Database</span>
            </h1>
        </div>
        <div class="row text-white">
            <h1 class="display-6">Search a 
                <span class="text-dark">Movie</span>
            </h1>
            <!-- Search bar -->
            <form id="searchMoviesForm" method="GET">
                <input 
                    id="movieName"
                    type="text" 
                    name="movieName"
                    maxlength="60"
                    class="form-control"
                    placeholder="Type to search..."
                    autocomplete="off"
                    spellcheck="false"
                    aria-label="Search">
                <!-- The value of this hidden input is hardcoded -->
                <input type="hidden" value="10" name="limit">
            </form>  
        </div>
    </div>
</section> 