<h4>Limit for the results</h4>
<form action="/movies" method="GET">
    <label>Limit:</label>
    <input type="text" name="limit" placeholder="(ex: 5)" maxlength="3">
    <br><br>
    <input type="submit" value="Search">
    <input type="button" value="Cancel" onclick='history.back()'>
</form>