<h2>Limit for the search</h2>
<form action="/movies/search/{{movie}}" method="GET">
    <p>Limit: <input type="text" name="limit"></p>
    <input type="hidden" value={{movie}} name="movieName">
    <input type="submit" value="Search">
    <input type="button" value="Cancel" onclick='history.back()'>
</form>