<h2>Limit for the results</h2>
<form action="/movies" method="GET">
    <p>Limit: <input type="text" name="limit" placeholder="Type a number" maxlength="3"></p>
    <input type="submit" value="Search">
    <input type="button" value="Cancel" onclick='history.back()'>
</form>