<h4>Login</h4>
<form action="/login" method="POST">
	<label for="txtUsername">Username:</label>
	<input type="text" id="txtUsername" name="username">
	<br><br>
	<label for="txtPassword">Password:</label>
	<input type="password" id="txtPassword" name="password">
	<br><br>
	<input type="submit" value="Login">
	<input type="button" value="Cancel" onclick="backHome()">
</form>

<script type="application/ecmascript">
	function backHome() {
		document.location = "/home"
	}
</script>