<h4>Create a new Group</h4>
<form action="/auth/groups" method="POST">
    <p>Group name: <input type="text" name="name" maxlength="20"></p>
    <p>
        Group description: <textarea name="description" maxlength="500"></textarea>
    </p>
    <input type="submit" value="Create">
    <input type="button" value="Cancel" onclick='history.back()'>
</form>