<h4>Create a new Group</h4>
<br>
<form action="/groups" method="POST">
    <label>Group name:</label>
    <input type="text" name="name" maxlength="20">
    <br><br>
    <label>Group description:</label>
    <textarea name="description"></textarea>
    <br><br>
    <input type="submit" value="Create">
    <input type="button" value="Cancel" onclick='history.back()'>
</form>