<h1>Register</h1>
<form action="/users" method="POST">
	<label for="txtUsername">Username:</label>
	<input type="text" id="txtUsername" name="username">
	<br><br>
	<label for="txtPassword">Password:</label>
	<input type="password" id="txtPassword" name="password">
	<br><br>
	<input type="submit" value="Register">
    <input type="button" value="Cancel" onclick='history.back()'>
</form>