<section class="box-float-right">
    <div class="container-fluid">
        <div class="col text-center me-5">
            <img 
                class="img-fluid mb-3"
                src="assets/icons/alertTriangle.png"
                width="35%">
            <div class="row text-center mb-3">
                <h1>An error as ocurred</h1>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <h4 class="lead text-overflow-ellipsis-1">
                        <b><strong>Server Response Status: </strong></b>{{status}}
                    </h4>
                    <h4 class="lead text-overflow-ellipsis-2">
                        <b><strong>Error Message: </strong></b>{{body}}
                    </h4>
                </div>
            </div>
            <div class="row text-center text-white mt-3">
                <p class="lead">
                    <button class="btn btn-lg btn-warning" onclick='history.back()' tabindex="-1">
                        <h4>
                            <span class="text-dark text-marck-script">
                                <strong>« Go Back</strong>
                            </span>
                        </h4>
                    </button>
                </p>
            </div>
        </div>
    </div>
</section> 
