<input type="button" value="Back" onclick='history.back()'>

<h4>Search results for: {{title}}</h4>
<ul>
  {{#each movies}}
    <li>
      <h3><a href="../find/{{id}}">{{title}}</a></h3>
      <p>Descrição: {{description}}</p>
    </li>
  {{/each}}
</ul>