<input type="button" value="Back" onclick='history.back()'>

<h1>Search results for: {{title}}</h1>
<ul>
  {{#each movies}}
    <li>
      <h2><a href="../find/{{id}}">{{title}}</a></h2>
      <p>Descrição: {{description}}</p>
    </li>
  {{/each}}
</ul>