<!-- Delete Group Modal -->
<div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Delete group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to delete this group?
                    This action is not revertable.
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <!-- Delete Button with Client Script -->
                <button class="btn btn-danger" id="b-del">Delete</button>
                <script type="application/ecmascript">
                    removeGroup('#b-del', '{{user.token}}','{{id}}')
                </script>
            </div>  
        </div>
    </div>
</div>

