<footer class="bg-dark py-2">
    <div class="container text-light text-center">
        <p class="lead">
            Chelas Movies Database Inc.
        </p>
        <small class="text-white-50">&copy; 2023
            All rights reserved. | In collaboration with
            <a href="https://www.isel.pt/" target="_blank" tabindex="-1">
                <span class="text-underline">ISEL</span>
            </a>
        </small>
    </div>
</footer>